<div class="container-fluid m-0 p-0 app-container">
  <div class="row justify-content-center align-items-center m-0 mt-3 mb-3 w-inherit ps-2">
    <div class="col">
      <div class="input-group">
        <span class="input-group-text">Markers count</span>
        <input type="number" class="form-control" placeholder="Markers count" aria-label="RMarkers count" [formControl]="markersCountControl">
        <button class="btn btn btn-danger" type="button" (click)="onClickGenerateMarkers()">Generate</button>
      </div>
    </div>
    <div class="col">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" [checked]="algorithmType === 0" (click)="onClickChangeAlgorithm(0)">
        <label class="form-check-label" for="flexRadioDefault1">
          None
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" [checked]="algorithmType === 1" (click)="onClickChangeAlgorithm(1)">
        <label class="form-check-label" for="flexRadioDefault2">
          Supercluster
        </label>
      </div>
    </div>
    <div class="col-8"></div>
  </div>
  <div class="row justify-content-center align-items-center m-0 w-inherit">
    <div class="col m-0 p-0">
      <div #mapComponent class="map-container" *ngIf="options"
          leaflet
          [leafletOptions]="options"
          (leafletMapZoom)="onZoomMap($event)"
          (leafletClick)="onMapClick($event)"
          (leafletMapMoveEnd)="onMapMoveEnd($event)"
          (leafletMapReady)="onMapReady($event)">
      </div>
    </div>
  </div>
</div>


